server:
  port: ${PORT:${SERVER_PORT:0}}

spring:
  application:
    name: servicio-auth
  data:
    mongodb:
      host: localhost
      port: 27017
      database: UsuariosBD

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    
admin-paths:
  paths:
    - uri: "/lectura"
      method: "GET"
    - uri: "/notificaciones"
      method: "POST"
    - uri: "/notificaciones/"
      method: "DELETE"